.dashboard > div {
  display:flex;
  justify-content: center;
}

.firebase > div {
  display:flex;
  justify-content: center;
}

.just-tweet-it-form {

}

.firebase-data {
  display:flex;
  flex-direction:column;
}
