.side-bar {
  display: flex;
  flex-direction: column;;
  justify-content: space-around;
}

.dashboard > div {
  display:flex;
  justify-content: center;
}


.just-tweet-it-form {
  position: relative;
  top:10em;
}
